.container {display: inline-block;}

.wrapper {
    height: 10vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
  
  .text {
    width: 37ch;
    animation: typing 5s steps(37), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100
    }
    
  }
    
  @keyframes typing-reverse {
    from {
      width: 100
    }
    to {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }